table.tan_renderer {
     border: 1px solid #E3DFD4;
     border-collapse: collapse;
     margin-top: 2em;
}

table.tan_renderer td, table.tan_renderer th {
     border: 1px solid #CACACA;
     border-collapse: collapse;
     padding: 0.5em 3em;
     font-size:0.9rem;
}

table.tan_renderer td.c1, table.tan_renderer th.c1 {
     font-size: 0.8rem;
     padding: 0.5em 3em;
}

table.tan_renderer tr:nth-child(2n+1) {
     background-color: #F9F9F9;
}

table.tan_renderer td.used {
     background-color: #debcbc;
     border: 1px solid #CACACA;
}